[user]
	name = Benedict
	email = 52418145+BenedictSt@users.noreply.github.com
[merge]
	tool = opendiff
[diff]
	tool = opendiff
[commit]
	gpgsign = true
[pull]
	rebase = false
[init]
	defaultBranch = main
